<!--<p>acceder works!</p>-->
<link rel="stylesheet" href="../../../css/componentes.css">

<!-- Contenedor con el fondo -->
<div class="backgroundAcceder" [ngClass]="{ 'dark-mode': isDarkMode }">
    <!-- Contenedor con la información para acceder -->
    <div class="contenidoAcceder">
        <!-- Contenedor del contenido, distribuye los elementos -->
        <div class="contenedorAcceder" >
            <!-- Imagen con el logo de SrMacondo -->
            <img src="https://i.pinimg.com/736x/21/75/ac/2175ac900c002565cbc172edf0e940cc.jpg" alt="Imagen" class="imagenSrMacondo">

            <form [formGroup]="formUsuario" (ngSubmit)="login()" class="contenedorFormulario">
                <h2 class="Examiner">Iniciar Sesión</h2>

                <div>
                    <label for="username" >Usuario</label>
                    <input formControlName="username" type="text" id="username" class="formControl" placeholder="Ingresa tu usuario">
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input formControlName="password" type="password" id="password" class="formControl" placeholder="Ingresa tu contraseña">
                </div>
                <button type="submit" class="botonAcceder">Acceder</button>
            </form>
        <div class="botonFacebookContainer">
            <!-- Botón para iniciar sesión con Facebook -->
            <button (click)="signInWithFB()" class="botonFacebook">Iniciar sesión con Facebook</button>
        </div>
    </div>

<style>
.botonFacebookContainer {
    position: relative;           /* Habilita el contexto de posicionamiento para los elementos hijos */
    margin-top: 400px;            /* Margen superior para separación, ajusta según sea necesario */
    margin-left: -31.5%;/* Elimina 'justify-content' y 'display' ya que no es necesario */
}

</style>