<!-- tiendacomponent.html -->
<link rel="stylesheet" href="../../../../css/home.css">

<!-- El aparador de la tienda, la primera página que ve el cliente al ingresar -->
<div class="contenedorTienda" [ngClass]="{ 'dark-mode': isDarkMode }">
  <!-- Apartado de la exposición de productos -->
  <div class="contenedorProductos" [ngClass]="{ 'dark-mode': isDarkMode }">
    <!-- Título del apartado -->
    <div class="encabezados">
      <h1 class="Examiner">Tienda</h1>
    </div>

    <!-- Contenedor de productos -->
    <div class="contenedor-imagenes">
      <div class="imagen" routerLink="/sr-macondo/productos">
        <img src="/assets/image/productos.jpg" alt="productos">
        <div class="texto-centro">Productos</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/menu">
        <img src="/assets/image/menu.jpg" alt="">
        <div class="texto-centro">Menú</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/sucursales">
        <img src="/assets/image/sucursales.jpg" alt="">
        <div class="texto-centro">Sucursales</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/juegos">
        <img src="/assets/image/futbolito.jpg" alt="">
        <div class="texto-centro">Juegos</div>
      </div>
    </div>
  </div>

  <!-- Apartado lateral -->
  <div class="contenedorLateral" [ngClass]="{ 'dark-mode': isDarkMode }">
    <div class="backgroundTiendaLateral" >
      <div class="subLateralTienda" >
        Bienvenido
      </div>
      <div class="botonesLateralesGrupo">
        <!-- Botones de navegación -->
        <button class="botonLateral" routerLink="/sr-macondo/acerca-de">
          <mat-icon>info</mat-icon>
           Acerca de
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/avisame">
          <mat-icon>notifications</mat-icon>
          Notifícame
        </button>
        <button class="botonLateral" routerLink="/mapa">
          <mat-icon>location_on</mat-icon>
          Ubicación
        </button>
        <button class="botonLateral" (click)="irAPago()">
          <mat-icon>credit_card</mat-icon>
          Pagar Premium
        </button>
      </div>
    </div>
  </div>
</div>
