<!-- Barra de navegación personalizada -->
<div class="custom-toolbar">
    <span>Realiza tu pago</span>
    <span class="spacer"></span>
    <button (click)="volver()">Volver</button>
  </div>
  
  <!-- Contenedor principal -->
  <div class="container">
  
    <!-- Cuadro grande con imagen y contenido -->
    <div class="cuadro-grande">
      <div class="image-container">
        
      </div>
      <h2>¡Suscríbete!</h2>
      <p>Obtén la mejor calidad. No esperes más y realiza tu compra ahora mismo.</p>
      <!-- Contenedor del botón de PayPal -->
      <div id="paypal-button-container"></div>
      <!-- Cuadro atractivo con beneficios -->
      <div class="cuadro-atractivo">
        <h3>Beneficios Exclusivos</h3>
        <p>Descubre las ventajas de ser parte de nuestra comunidad.</p>
      </div>
    </div>
  </div>