@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers&display=swap');
@import url('https://db.onlinewebfonts.com/c/e785a7f1d551f5d098f780bbd15e1ef3?family=Examiner+NF+W01+Bold');

/* === ESTILOS GENERALES === */

/* Para el título de cada encabezado */
#tituloMacondo {
    color: rgb(46, 22, 7);
    font-size: 2.2rem;
    display: inline;
    margin: 0 0.5rem 0 1rem;
    position: relative;
}

/* Subtítulo del encabezado */
#indiceMacondo {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin: 0 0 0 0.5rem;
    display: inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

/* Fuentes */
.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
}

.teachers {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.Examiner {
    font-family: 'Examiner NF W01 Bold', 'ExaminerNFW01-Bold', 'Livvic', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento y difuminado */
}


/* Navbar */
.NavMacondo {
    background-color: rgb(8, 125, 107);
    padding: 0.5rem;
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5); /* Sombra notoria */
    
}

/* Botón de acceso */
.buttonIngresar {
    margin-left: auto;
    margin-right: 2rem;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: rgb(10, 94, 81);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra notoria */
}

.buttonIngresar:hover {
    background-color: rgb(70, 46, 31);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al pasar el mouse */
}

/* Fondo principal */
#fondo, #fondoV2 {
    background-image: url('/assets/image/AllColorCrema.png');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
}

/* Footer */
.footer {
    background-color: rgb(8, 125, 107);
    color: white;
    padding: 0.5rem;
    text-align: center;

    /* Sombra superior */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}


/* Imagen del logo */
.SrMacondoLogo {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

/* Fondo de páginas Home */
.backgroundHome {
    padding: 60px;
    overflow-y: auto;
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.815);
}

/* Separadores */
.separador {
    border-top: 2px solid #793a2b;
    margin: 1rem 0;
}

.separadorPrin {
    border-top: 2px dashed #eaad63;
    margin: 1rem 0;
}

/* Encabezados */
.encabezados {
    text-align: center;
    background-color: #793a2b;
}

/* Contenedor de listas */
.contenedorLista {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin-top: 0.5rem;
    padding: 2rem;
}

/* Botones principales */
.botonesPrincipal {
    background-color: rgb(117, 174, 165);
    color: white;
    width: 15rem;
    min-height: 5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra notoria */
}

.botonesPrincipal:hover {
    background-color: rgb(46, 22, 7);
    
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al pasar el mouse */
}

/* Botón de modo oscuro */
#toggleDarkMode {
    background-color:  rgb(10, 94, 81);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
    
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra notoria */
}

#toggleDarkMode:hover {
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al pasar el mouse */
    background-color: rgb(46, 22, 7);
}

.dark-mode #toggleDarkMode {
    background-color: rgb(6, 60, 52) ;
    color: white;
}

.dark-mode #toggleDarkMode:hover {
    background-color: rgb(92, 39, 6);
}
/*--===============================================-=-=-=-=-=-=-=-*/
/* Modo oscuro */
.dark-mode {
    background-image: url('/assets/image/AllColorCrema.png') !important;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.dark-mode::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.7);
    z-index: 1;
}

.dark-mode * {
    position: relative;
    z-index: 2;
}




/* Navbar */
.dark-mode .NavMacondo {
    background-color: rgb(4, 70, 60);
}

/* Títulos */
.dark-mode #tituloMacondo {
    color: rgb(220, 220, 220);
}

/* Índice */
.dark-mode #indiceMacondo {
    color: rgb(190, 190, 190);
}

/* Botón de ingreso */
.dark-mode  .buttonIngresar  {
    background-color: rgb(6, 60, 52) ;
}

.dark-mode .buttonIngresar:hover {
    background-color: rgb(35, 20, 15);
}

/* Footer */
.dark-mode .footer {
    background-color: rgb(4, 70, 60);
}

/* Fondo de Home */
.dark-mode .backgroundHome {
    background-color: rgba(0, 0, 0, 0.85);
}

/* Botones principales */
.dark-mode .botonesPrincipal {
    background-color: rgb(60, 110, 100);
}

.dark-mode .botonesPrincipal:hover {
    background-color: rgb(25, 12, 6);
}

/* Modo oscuro del boton modo obscuro*/
.dark-mode .SrMacondoLogo {
    filter: blur(0px) brightness(59%);
}